In [4]:
import pandas as pd
data=pd.read_csv('df_cleaned.csv')
data.columns

Index(['id', 'region', 'price', 'year', 'manufacturer', 'model', 'fuel',
       'odometer', 'title_status', 'transmission', 'state', 'model_reduced',
       'price_log'],
      dtype='object')

In [5]:
data.head()

,id,region,price,year,manufacturer,model,fuel,odometer,title_status,transmission,state,model_reduced,price_log
0,7316814884,auburn,33590,1970-01-01,gmc,sierra 1500 crew cab slt,gas,57923.0,clean,other,al,sierra 1500 crew cab slt,10.422013
1,7316814758,auburn,22590,1970-01-01,chevrolet,silverado 1500,gas,71229.0,clean,other,al,silverado 1500,10.025307
2,7316814989,auburn,39590,1970-01-01,chevrolet,silverado 1500 crew,gas,19160.0,clean,other,al,silverado 1500 crew,10.586357
3,7316743432,auburn,30990,1970-01-01,toyota,tundra double cab sr,gas,41124.0,clean,other,al,tundra double cab sr,10.341452
4,7316356412,auburn,15000,1970-01-01,ford,f-150 xlt,gas,128000.0,clean,automatic,al,f-150 xlt,9.615872

In [9]:
data['title_status'].value_counts()

title_status
clean         264454
rebuilt         4861
salvage         2298
lien             997
missing          209
parts only        40
Name: count, dtype: int64